<div class="h-100 container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand home">Dashboard</a>
    </nav>
    <div class="row w-100 justify-content-md-center" style="min-height: 85%;">
        <div class="col-lg-3 w-100">
            <ul class="list-group">
                <li class="list-group-item active">Statistics</li>
                <li class="list-group-item">All <span class="badge badge-primary" id="allnum"></span></li>
                <li class="list-group-item">Completed <span class="badge badge-success" id="comnum"></span></li>
                <li class="list-group-item">Ongoing <span class="badge badge-warning" id="ongng"></span></li>
                <li class="list-group-item">Upcoming <span class="badge badge-danger" id="upcmg"></span></li>
            </ul>
        </div>
        <div class="col-lg-9 w-100 border p-3">
            <nav class="navbar border navbar-light bg-light mb-2">
                <a class="navbar-brand">
                    <h4>Tasks</h4>
                </a>
                <form class="form-inline">
                    <div class="text-primary">
                        <h5 id="per"></h5>
                    </div>
                </form>
                <div class="form-group">
                    <select class="form-control form-control-sm" id="sort_by" onchange="taskServiceObj.sortTasks(this.value)">
                      <option value="all">Sort By</option>
                      <option value="priority">Priority</option>
                      <option value="status">Status</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control form-control-sm" id="filter_priority" onchange="taskServiceObj.filterTasks(this.value)">
                      <option value="all">Filter</option>
                      <option value="high">High Priority</option>
                      <option value="medium">Medium Priority</option>
                      <option value="low">Low Priority</option>
                      <option value="upcoming">Upcoming</option>
                      <option value="ongoing">Ongoing</option>
                      <option value="completed">Completed</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addtask">Add Task</button>
            </nav>
            <div class="row">
                <div class="col-lg" id="taskslist">
                    <!-- <div class="row p-2 mx-auto border border-primary">
                         <h6>Complete Dashboard UI</h6>
                        <hr>
                        <p>App 1</p>
                        <hr>
                        <p><span class="badge badge-pill p-1 badge-primary">High Priority</span></p>
                        <hr>
                        <p><span class="badge badge-pill p-1 badge-warning">Ongoing</span></p>
                        <hr>
                        <a type="button" class="btn text-warning" data-toggle="modal" data-target="#edittask">Edit</a>
                        <a type="button" class="btn text-warning" data-target="#edittask">Edit</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="toast" data-autohide="false" style="position: absolute; top: 10%; right: 2%; width: 250px;">
        <div id="thead" class="toast-header">
            <strong id="thtext" class="mr-auto"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="message" class="toast-body bg-light"></div>
    </div>
</div>

<!-- add task modal -->
<div class="modal fade" id="addtask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="addTask()">
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="text" name="task" id="task" placeholder="do something" required autofocus>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" name='priority' id="priority">
                            <option value="high">High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" name="status" id="status">
                            <option value="upcoming">Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit task modal -->
<div class="modal fade" id="edittask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="editform">
                    <!-- <form onsubmit="saveChangedTask()">
                        <div>
                            <input type="text" name="tid" id="tid" value="">
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" name='newpriority' id="newpriority">
                            <option value="high">High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" name="newstatus" id="newstatus">
                            <option value="upcoming">Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                        </div>
                        <button class="btn btn-primary" data-dismiss="modal" type="submit">Save</button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const authServicesObj = new AuthServices();
    let currentUser = authServicesObj.getCurrentUser();
    const taskServiceObj = new TaskServices();
    taskServiceObj.ngOnInit();

    function addTask() {
        event.preventDefault();

        let task = document.querySelector('#task').value;
        let priority = document.querySelector('#priority').value;
        let status = document.querySelector('#status').value;

        let generateTaskId = Math.floor(100 + Math.random() * 900);

        var task_data = {
            'tid': generateTaskId,
            'task': task,
            'priority': priority,
            'status': status,
            'createdBy': currentUser.name
        }

        try {
            taskServiceObj.add(task_data);
            document.getElementById("thead").classList.add('bg-success');
            document.getElementById("thtext").innerHTML = "Success..!";
            document.getElementById("message").innerHTML = "Task Added..!";
            $('.toast').toast('show');
        } catch (err) {
            document.getElementById("thead").classList.add('bg-warning');
            document.getElementById("thtext").innerHTML = "Warning..!";
            document.getElementById("message").innerHTML = err;
            $('.toast').toast('show');
        }

    }

    function updateTask() {
        event.preventDefault();

        let dec = document.querySelector('#dec').value;
        let tid = document.querySelector('#tid').value;
        let priority = document.querySelector('#newpriority').value;
        let status = document.querySelector('#newstatus').value;

        try {
            taskServiceObj.update(tid, dec, priority, status);

            document.getElementById("thead").classList.add('bg-success');
            document.getElementById("thtext").innerHTML = "Success..!";
            document.getElementById("message").innerHTML = "Task Edited..!";
            $('.toast').toast('show');
        } catch (err) {

        }
    }
</script>