<div class="h-100 container-fluid bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Profile</a>
    </nav>
    <div class="border">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img class="rounded mx-auto d-block" src="../assets/images/profile.jpg" height="200" alt="profile">
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
                <form>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledTextInput">Name</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Kiran">
                        </div>
                        <div class="form-group">
                            <label for="disabledTextInput">Email</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="kiran@mail.com">
                        </div>
                        <div class="form-group">
                            <label for="disabledTextInput">Full name</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Kiran Maddu">
                        </div>
                        <div class="form-group">
                            <label for="disabledTextInput">Company</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Sify">
                        </div>
                        <div class="form-group">
                            <label for="disabledTextInput">Git Username</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="kiranMaddu">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>