<div class="h-100 container-fluid bg-light">
    <div class="row text-justify text-center align-items-center justify-content-center h-100">
        <div class="col">
            <h1 class="text-primary">Welcome to PLAN TO WIN</h1>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>“Planning is bringing the future into the present so that you can do something about it now.”</p>
                    <footer class="blockquote-footer"> Alan Lakein</footer>
                </blockquote>
            </div>
            <div class="text-start w-100">
                <button class="btn btn-round btn-primary">Let's Plan</button>
            </div>
        </div>
        <div class="col">
            <img src="../assets/images/2953998.jpg" class="rounded img-fluid mx-auto d-block" alt="main_img">
        </div>
    </div>
</div>