<div class="h-100 container-fluid bg-light">
    <div class="row text-justify text-center align-items-center justify-content-center h-100">
        <div class="col-lg">
            <div class="jumbotron">
                <h1 class="display-4 text-primary">Plan To Win</h1>
                <blockquote class="blockquote mb-0">
                    <p>“Planning is bringing the future into the present so that you can do something about it now.”</p>
                    <footer class="blockquote-footer"> Alan Lakein</footer>
                </blockquote>
                <hr class="my-4">
                <p>Let's start planning with our platform and make your goals achieved.</p>
                <a class="btn btn-primary btn-lg signup" role="button">Let's Plan</a>
            </div>
        </div>
        <div class="col-lg p-2">
            <img src="../assets/images/2953998.jpg" class="rounded img-fluid mx-auto d-block" alt="main_img">
        </div>
    </div>
</div>