<div class="row p-2 mx-auto border">
    <h6>Complete Dashboard UI</h6>
    <hr>
    <p>App 1</p>
    <hr>
    <div class="btn-group">
        <button class="btn btn-primary btn-sm" type="button">
          High Priority
        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">High Priority</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Low</a>
            <a class="dropdown-item" href="#">Medium</a>
            <a class="dropdown-item" href="#">High</a>
        </div>
    </div>
    <hr>
    <div class="btn-group">
        <button class="btn btn-warning btn-sm" type="button">
          Upcoming
        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Up Coming</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">On going</a>
            <a class="dropdown-item" href="#">Completed</a>
            <a class="dropdown-item" href="#">Upcoming</a>
        </div>
    </div>
</div>